
{%if request.user.is_authenticated%}
    <p>{{request.user}}</p>
    <a href="%url 'Hitter_DiveOut%">Dive Out</a>
    {%else%}
    <a href="%url 'Hitter_DiveIn'%">Dive In</a>
    {%endif%}
    
    
    <h1>Hit list</h1>
    <a href="{% url 'Hit_init' %}">Initiate Hit</a>

    <table>
        <tr>
            <th>Hits</th>
        </tr>
        {% for hit in Hits %}
        <tr>
            <td>{{hit}}</td>
            <td><a href="{% url 'hit' hit.id%}"> Views</a></td>
            <td><a href="{% url 'Hit_update' hit.id%}"> Update</a></td>
            <td><a href="{% url 'Hit_terminate' hit.id%}"> Terminate</a></td>

        </tr>
        {%empty%}
        <h3>No items in list</h3>
        {% endfor %}
    </table>

    