
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/media/CSS/style.css">
</head>
<body>
    
    <h1>Welcome to Soul Shift HoriZon</h1>
    
    <video playsinlin muted loop id="myVideo">
        <source src="/media/img/output.mp4" type="video/mp4">
        <source src="/media/img/output.webm" type="'video/webm">
    </video>
    

    
</body>
<script>
    document.getElementById('myVideo').play();

</script>
</html>