
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="/media/CSS/style.css">



<body>
    
    <video playsinline autoplay loop id="myVideo">
        <source src="/media/img/output.mp4" type="video/mp4">
        <source src="/media/img/output.webm" type="video/webm">
    </video>
    <h1>Welcome to the Soul Shift Horizon Wallpaper Gallery</h1>
</body>
</html>