{% extends 'main.html' %} 

{% block title %}Projects{% endblock title %} 


{% block content %}
<h1> projects</h1>

{% for prj in project%}

    

<h1>{{prj.project_name}}</h1>
<h2>Description <p>
    {{prj.description}}
</p></h2>
<h2>Link <p>
    {{prj.link}}
</p></h2>
<h2>Client<p>
    {{prj.client}}
</p></h2>
<p>
{% for skill in  prj.sk.all %}
{{skill.name}}({{skill.get_typeof_display}}), 


{% endfor %}
</p>

{%endfor%}


<a href="/contact_me">
    <button type="button">Contact Me</button>
</a>

{% endblock content %}