{% extends 'main.html' %}

{% block title %}Resume{% endblock title %}

{% block content %}

<h1>Resume</h1>

<div class="Education">
    <h1>Education</h1>
    <div class="education_details">
    <h3>{{education_details.university}}</h3>
    <h3>{{education_details.course}}</h>
    <h3>{{education_details.gpa}}</h3>
    <h3>{{education_details.location}}</h3>
    <h3>{{education_details.date_start}}-{{education_details.date_end}}</h3>
    </div>
</div>

<div class="experiance">
    {% for exp in experience_detail %}
    <h1>{{exp.get_job_display}}</h1>
    <h2>{{exp.get_company_name_display}}</h2>
    <h3>{{exp.get_job_type_display}}</h3>
    <h4>{{exp.description}}</h4>
    <h4>{{exp.location}}}</h4>
    <h4>{{exp.end_date}}-{{exp.start_date}}</h4>    
    {% endfor %}
</div>


<div class="certificates">
    {% for c in ct %}
    <h2>{{c.url}}</h2>
    <h3>{{c.name}}</h3>
    {% endfor %}
</div>


<div class="Skills">
    {% for s in sk_d %}
    <h1>{{s.get_typeof_display}}</h1>
    <h2>{{s.name}}</h2>
    {% endfor %}
</div>



    
    <div class="button_project_page">
        <a href="/projects">
            <button type="button">Projects</button>
        </a>
    </div>
    
    
    {% endblock content %}